gems/
release
releases/
*.gemspec
*.gem
site/.sass-cache/
site/tmp/dependencies/
site/tmp/
tags
.*.swp
tmp/
*.rbc
pkg/
.rvmrc
.DS_Store
.idea
aclocal.m4
autom4te.cache/
config.status
configure
install-sh
Makefile
depcomp
missing
.deps/
