    <footer class="page-footer red">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"> {{ site.title }} </h5>
            <p class="grey-text text-lighten-4"> {{ site.description }} </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://github.com/rbenv/rbenv/issues">Submit an Issue</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/rbenv/rbenv">View on GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © {{ "now" | date: "%Y" }} Copyright {{ site.name }} | All rights reserved.
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  </body>
</html>